* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    --TRANSITION_LENGTH: 2s;
    --LGA-start: #222222;
    --LGA-end: #444444;
    --LGB-start: #BBBB22;
    --LGB-end: #FFFF99;
    --MAX-WIDTH: 1500px;
    --TOP-MENU-HEIGHT: 4rem;
    scroll-padding-top: 4rem;
}
body {
    color: #EEE;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--MAX-WIDTH);
    background: #333;
    overflow-x: hidden;
}
h1{
    font-size: 2rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
}
a:focus, #OL_left_button:focus, #OL_right_button:focus, #OL_auto_checkbox:focus{
    outline: 3px solid red;
}
main {
    padding-top: var(--TOP-MENU-HEIGHT);
    scroll-padding-top: var(--TOP-MENU-HEIGHT);
    background: #444;
}
#why_coding, #why_fac {
    background: linear-gradient(90deg, var(--LGA-start), var(--LGA-end));
}
header{
    position: fixed;
    width: 100%;
    max-width: var(--MAX-WIDTH);
    z-index: 3;
}
#stark_truths, #learning, #title_bar{
    color: #111;
    background: linear-gradient(90deg, var(--LGB-start), var(--LGB-end));
}
#OL_auto_checkbox{
    /* Turns out it's harder than you'd think to scale a checkbox nicely! */
}
li{
    list-style-type: none;
}
p{
    padding-bottom: 1rem;
    padding: 0.5em;
}
#title_bar h1 { padding-left: 0.5rem; }
#top_menu{
    padding-top: 0.5em;
    height: var(--TOP-MENU-HEIGHT);
    width: 100%;
    background: hsl(200, 100%, 30%);
    font-size: 2rem;
}
#top_menu ul, #learning ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
#top_menu li a{
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
}
ul{
    padding-left: 0.5em;
    padding-right: 0.5em;
}
#truth_bullets li{
    list-style-type: circle;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
    padding-bottom: 0.5rem;
}
#carousel{
    min-height: var(--img-size);
    min-width: var(--img-size);
    float: left;
    margin-bottom: 1rem;
    margin-right: 1rem;
}
.carousel_overlay{
    opacity: 0;
    width: var(--img-size);
    height: var(--img-size);
    position: absolute;
    font-size: calc(var(--img-size)*0.1);
    z-index:2;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}
#carousel_overlay:hover{
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
}
.force_overlay_visible{
    opacity: 1;  
}
#OL_top{
    grid-column: 1 / 3;
}
#OL_bottom{
    grid-column: 1 / 3;
    justify-self: end;
    align-self: end;
}
#OL_mid{
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
#OL_right { justify-self: end; }
.carousel_button{
    height: calc(var(--img-size)*0.4);
    width: calc(var(--img-size)*0.15);
    margin: calc(var(--img-size)*0.02);
    background: rgba(0,0,0,0.5);
    border-radius: calc(var(--img-size)*0.02);
}
#carousel_automatic{
    background: rgba(0,0,0,0.5);
    margin: calc(var(--img-size)*0.02);
    background: rgba(0,0,0,0.5);
    border-radius: calc(var(--img-size)*0.02);
    padding-left: calc(var(--img-size)*0.02);
    padding-right: calc(var(--img-size)*0.02);
}
.button_svg{
    height: 50%;
    width: 50%;
    transition: 0.05s
}
.button_svg:hover{
    height: 53%;
    width: 53%;
}
.carousel_image{
    position: absolute;
    width: var(--img-size);
    height: var(--img-size);
    background-position: center;
    background-size: cover;
    opacity: 0;
}
.transition_returns{
    transition-property: opacity, transform;
    transition-duration: var(--TRANSITION_LENGTH);
}
#active{
    opacity: 1;
    z-index: 1;
}
#learning{
    padding-bottom: 3rem;
}
#learning img{
    width: 20vw;
    height: 20vw;
    max-width: calc( var(--MAX-WIDTH) / 8 );
    max-height: calc( var(--MAX-WIDTH) / 8 );
}
@media (min-width: 1281px) {
    body{
        --img-size: 25vw;
        font-size: 1.5rem;
    }
}
@media (max-width: 1280px) {
    body{
        --img-size: 49vw;
        --TOP-MENU-HEIGHT: 3rem;
        font-size: 1rem;
    }
    #top_menu{ font-size: 1.5rem; }
}
@media (max-width: 700px) {
    body{
        --img-size: 100vw;
        --TOP-MENU-HEIGHT: 2rem;
    }
    #top_menu{ font-size: 1rem; }
    h1{ font-size: 1.5rem; }
}
@media (max-width: 500px) {
    #top_menu ul{
        flex-direction: column;
    }
    body {
        --TOP-MENU-HEIGHT: 4.5rem;
    }
    h1{ font-size: 1.5rem; }
}

@media (max-width: 350px) {
    body {
        text-align: left;
    }
}