* {
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    color: #EEE;
  }
body {
    /* background-color: #333 */
    background: linear-gradient(35deg, rgb(47, 73, 73), rgb(15, 19, 77));
}
ul{
    list-style-type: none;
}
#title{
    padding-left: 0.5rem;
}
body div section{
    /* background-color: #999; */
}
#flexbox_frame{
    display: grid;
    grid-template-columns: 50% 50%;
}
.info_box{
    padding: 0.5em;
}
#loading_animation{
    width: 100%;
}
#carousel{
    width: var(--img-size);
    height: var(--img-size);
}
.carousel_image{
    position: absolute;
    max-width: var(--img-size);
    max-height: var(--img-size);
    width: var(--img-size);
    height: var(--img-size);
    object-fit: cover;
}
.hidden{
    visibility: hidden;
}
#body_text {
    /* background-color: hsl(45,75%,80%); */
    color: #111;
    height: 100%;
}

@media (min-width: 1281px) {
    #flexbox_frame{ grid-template-columns: 1fr 1fr 1fr 1fr; }
    * { --img-size: 25vw; }
 }
@media (max-width: 1280px) { 
    #flexbox_frame{ grid-template-columns: 1fr 1fr; }
    * { --img-size: 50vw; }
}
@media (max-width: 700px) {
    #flexbox_frame{ grid-template-columns: 1fr; }
    * { --img-size: 100vw; }
}

