* {
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* background: linear-gradient(90deg, , #444444); */
/* background: linear-gradient(90deg, #BBBB22, #FFFF99); */
body {
    --TRANSITION_LENGTH: 2s;
    --LGA-start: #222222;
    --LGA-end: #444444;
    --LGB-start: #BBBB22;
    --LGB-end: #FFFF99;
    color: #EEE;
    background-color: #333;
    font-size: 62.5%;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: justify; */
    margin-left: auto;
    margin-right: auto;
    max-width:1500px;
    background: #333;
}
h1{
    font-size: 2rem;
    /* font-weight: lighter; */
    padding: 1rem;
}
main {
    background: #444;
}
section{
    background: linear-gradient(90deg, var(--LGA-start), var(--LGA-end));
}
#stark_truths, header, #learning{
    color: #111;
    background: linear-gradient(90deg, var(--LGB-start), var(--LGB-end));
}
#carousel_automatic label{
    height: 50%;
    background: #F00;
    padding: 0px;
    margin: 0px;
}
#OL_auto_checkbox{
    height: 100%;
    /* width: 5vw; TODO - WTF!*/
}
li{
    list-style-type: none;
}
p{
    padding-bottom: 1rem;
    padding: 0.5em;
}
#title{
    padding-left: 0.5rem;
}
#flexbox_frame{
    /* display: grid; */
    /* grid-template-columns: 50% 50%; */
}
#truth_bullets li{
    list-style-type: circle;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 2em;
    padding-bottom: 0.5rem;
}

.info_box{
    font-size: 1.1rem;
}
#carousel{
    min-height: var(--img-size);
    min-width: var(--img-size);
    float: left;
    margin-right: 1rem;
}
#carousel_overlay{
    opacity: 0;
    width: var(--img-size);
    height: var(--img-size);
    position: absolute;
    font-size: calc(var(--img-size)*0.1);
    z-index:2;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}
#carousel_overlay:Hover{
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
}
#OL_top{
    grid-column: 1 / 3;
}
#OL_bottom{
    grid-column: 1 / 3;
    justify-self: end;
    align-self: end;
}
#OL_mid{
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
#OL_right { justify-self: end; }
.carousel_button{
    height: calc(var(--img-size)*0.4);
    width: calc(var(--img-size)*0.15);
    margin: calc(var(--img-size)*0.02);
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
}
#carousel_automatic{
    background: rgba(0,0,0,0.5);
    height: calc(var(--img-size)*0.15);
    text-align: right;
    margin: calc(var(--img-size)*0.02);
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding-left: calc(var(--img-size)*0.02);
    padding-right: calc(var(--img-size)*0.02);
}
.button_svg{
    height: 50%;
    width: 50%;
}
/* TODO, check if all these still neccessary */
.carousel_image{
    position: absolute;
    max-width: var(--img-size);
    max-height: var(--img-size);
    width: var(--img-size);
    height: var(--img-size);
    object-fit: cover;
    background-position: center;
    background-size: cover;
    opacity: 0;
    z-index: 0;
}
.transition_returns{
    /* transition: opacity var(--TRANSITION_LENGTH) ease-in-out;
    transition: transform  ease-in-out; */
    transition-property: opacity, transform;
    transition-duration: var(--TRANSITION_LENGTH);
    transition-timing-function: linear;
}
#active{
    opacity: 1;
    /* transition: opacity var(--TRANSITION_LENGTH) ease-in-out; */
    z-index: 1;
}
@media (min-width: 1281px) {
    /* #flexbox_frame{ grid-template-columns: 1fr 1fr 1fr 1fr; } */
    * { --img-size: 25vw; }
    .info_box{ font-size: 1.5rem; }
}
@media (max-width: 1280px) {
    /* #flexbox_frame{ grid-template-columns: 1fr 1fr; } */
    * { --img-size: 49vw; }
    .info_box{ font-size: 1.3rem; }
}
@media (max-width: 700px) {
    #flexbox_frame{ grid-template-columns: 1fr; }
    * { --img-size: 100vw; }
    .info_box{
        min-height: initial;
    }
}

